extends layout

block content
  div(class="p-3 mb-0")
    div(class="row")
      if user
        h1( class="col-lg-8 ml-0") Bienvenido #{user.Nombre}
      else
        h1( class="col-lg-8 ml-0") Bienvenido 
      hr