doctype html
html
  head
    title #{title}
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css")
    link(rel="stylesheet", href="/bower_components/datatables.net-buttons-dt/css/buttons.dataTables.min.css")
    link(rel="stylesheet", href="/bower_components/components-font-awesome/css/fontawesome-all.min.css")
    link(rel="stylesheet", href="/css/main.css")
  body
    #wrapper
      #sidebar-wrapper
        include verticalNavar.pug
      #page-content-wrapper
        include navbar.pug
        #BodyContainer.container
          block content
        footer(class='container')
          hr
          p copyright &copy; -kiefer cuevas
    block scripts
      script(src="/bower_components/jquery/dist/jquery.min.js")
      script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
      script(src="/bower_components/bootbox/dist/bootbox.min.js")
      script(src="/bower_components/popper/dist/popper.min.js")
      script(src="/js/verticalNavbar.js")
      