br
ul(class='sidebar-nav')
  li(class="my-2")
    a(href="/api/",class="navbar-brand addToken") Recursos Humanos
  li(class="my-3")
    a(href="#")
      i(class="fas fa-box icon icon-left pl-0 ")  Idiomas 
      i(class="fa fa-chevron-down icon icon-right")
    ul
      li
        a(href="/api/idiomas" class="addToken") ver idiomas
      li
        a(href="/api/idiomas/create" class="addToken") crear idiomas
  li(class="my-3")
    a(href="#")
      i(class="fas fa-box icon icon-left pl-0 ")  Puestos
      i(class="fa fa-chevron-down icon icon-right")
    ul
      li
        a(href="/api/puestos" class="addToken") ver puestos
      li
        a(href="/api/puestos/create" class="addToken") crear puesto
  li(class="my-3")
    a(href="#")
      i(class="fas fa-box icon icon-left pl-0 ")  Departamentos
      i(class="fa fa-chevron-down icon icon-right")
    ul
      li
        a(href="/api/departamentos" class="addToken") ver departamentos
      li
        a(href="/api/departamentos/create" class="addToken") crear departamentos
  li(class="my-3")
    a(href="#")
      i(class="fas fa-box icon icon-left pl-0 ")  Capacitaciones
      i(class="fa fa-chevron-down icon icon-right")
    ul
      li
        a(href="/api/capacitaciones" class="addToken") ver Capacitaciones
      li
        a(href="/api/capacitaciones/create" class="addToken") crear Capacitaciones
  li(class="my-3")
    a(href="#")
      i(class="fas fa-box icon icon-left pl-0 ")  Competencias
      i(class="fa fa-chevron-down icon icon-right")
    ul
      li
        a(href="/api/competencias" class="addToken") ver Competencias
      li
        a(href="/api/competencias/create" class="addToken") crear Competencias
  li(class="my-3")
    a(href="#")
      i(class="fas fa-box icon icon-left pl-0 ")  Empleados
      i(class="fa fa-chevron-down icon icon-right")
    ul
      li
        a(href="/api/empleados" class="addToken") ver Empleados
      //-li
        a(href="/api/empleados/create" class="addToken") crear Empleados
  li(class="my-3")
    a(href="#")
      i(class="fas fa-box icon icon-left pl-0 ")  Candidatos
      i(class="fa fa-chevron-down icon icon-right")
    ul
      li
        a(href="/api/candidatos" class="addToken") Ver Candidatos
      li
        a(href="/api/candidatos/create" class="addToken") crear Candidatos
      li
      if user
        a(href=`/api/candidatos/${user._id}` class="addToken") Ver perfil
        a(href=`/api/candidatos/editar/${user._id}` class="addToken") Editar Candidato
  li(class="my-3")
    a(href="#")
      i(class="fas fa-box icon icon-left pl-0 ")  Usuarios
      i(class="fa fa-chevron-down icon icon-right")
    ul
      li
        a(href="/api/usuarios" class="addToken") ver Usuarios
      li
        a(href="/api/usuarios/create" class="addToken") crear Usuarios
  li(class="my-3")
    a(href="#")
      i(class="fas fa-box icon icon-left pl-0 ")  Experiencias
      i(class="fa fa-chevron-down icon icon-right")
    ul
      li
        a(href="/api/experiencias" class="addToken") ver Experiencias 
      li
        a(href="/api/experiencias/create" class="addToken") crear Experiencias 

  

