body {

}

.normalText{
    font-weight: initial
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.field-validation-error{
    color: red;
}
.input-validation-error{
    border: 2px solid red;
}

/*vertical nav*/

#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 250px;
    height: 100%;
    overflow-y: hidden;
    background: #343a40;
    padding-top: 50px;
    transition: width 0.5s ease-in-out;
}

/*main content*/
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-top: 6rem;
    overflow-y: scroll;
    height: 100%;
    transition: padding 0.5s ease-in-out;
    padding-left: 250px;
}

/*show-menu on click*/
#wrapper.menu-hide #sidebar-wrapper {
    width: 0px;
    transition: width 0.5s ease-in-out;
}
#wrapper.menu-hide #page-content-wrapper {
    padding-left: 0px;
    transition: padding 0.5s ease-in-out;
}

/*sidebar styling*/

.sidebar-nav{
    padding: 0;
    list-style: none;
    width: 100%;
}

.sidebar-nav ul{
    list-style: none;
    padding: 0px;
}

.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
}


.sidebar-nav .icon{
    font-size: 17px;
    padding-top: 12px;
}

.sidebar-nav .icon.icon-left{
    float: left;
    margin-right: 10px;
}

.sidebar-nav .icon.icon-right{
    float: right;
    margin-left: 10px;
}

.sidebar-nav ul{
    display: none;
}

.sidebar-nav ul li a{
    background: #454d54;
    color: white !important;
}


.sidebar-nav .active-menu-item > a{
    background: #5c6770 !important;
    color: #fff;
}




/*paginacion*/
.pagination > li > a, .pagination > li > span {
    background-color: white;
    color: black;
}

.pagination > li.active > a.page-link {
    background-color: black;
    border-color: black;
}

.dropdown-item:hover{
    background-color:black;
    color:white;
}




/*mobile*/
@media (max-width : 768px) {


    #page-content-wrapper {
        padding-left: 0px;
        transition: padding 0.5s ease-in-out;
    }

    #menu-toggle{
        display:none;
    }
    #sidebar-wrapper{
        display:none;
    }
    
}



/*laptop*/
@media (min-width : 769px) and (max-width : 1024px) {
    #menu-horizontal{
        display:none;
    }
    #navbarNav {
        justify-content: flex-end !important;
    }


}




/*tv*/
@media (min-width : 1025px){
    #menu-horizontal {
        display: none;
    }

    #navbarNav {
        justify-content: flex-end !important;
    }
}


    